body{
  margin: 0;
  padding: 0;
}
main{
  width: 100%;
  height: 500px;
  border: 2px solid green;
}

.flex-container{
  width: 500px;
  border: 2px dashed purple;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.flex-container > div{
  display: block;
  margin: 20px;
  padding: 30px;
  background-color: pink;
  border: 1px solid red;
  color: blue;
  font-size: 30px;
}